body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BE4CE5;
    color: #ffffff;
}

header {
    background-color: #E317F4;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.section {
    padding: 2em;
    text-align: center;
}

.download-btn {
    display: inline-block;
    padding: 1em 2em;
    background-color: #2C2821;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #FAFAFA;
}

footer {
    background-color: #2C2821;
    text-align: center;
    padding: 1em 0;
}